.header{
    //box-shadow: ;
    //border-bottom: solid 1px $color-grey-dark;
    height: 4rem;
    //align-items: center;
    //text-align: center;
    
    &--list{
        margin-top: 2rem;
        list-style: none;
        font-size: $default-font-size;
        grid-template-columns: 5fr 1fr 1fr 1fr;
        display: grid;
        font-weight: 500;
        color: $color-primary;
        font-weight: bold;
        & a {
            color: $color-grey-dark;
            letter-spacing: 2px;
            text-decoration: none;
            align-items: center;
        }
    }
}