.hero{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    justify-items: center;
    align-items: center;

    @include respond(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        margin-top: 2rem;
    }
    
    &--text{
        //width: 40vw;
        @include respond(phone) {
            text-align: center;
        }
    }
    
    &--img{
        
        &__img{
            width: auto;
            max-height: 60rem;
            
    }
        }
        
}