.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10rem 0;
    justify-items: center;

    @include respond(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        margin: 5rem 0;
    }

    &--img{
        width: 30rem;
        height: auto;

        @include respond(phone) {
           width: 45rem;
        }
    }

    &--text{
        max-width: 80%;

        @include respond(phone) {
            max-width: 70%;
            text-align: center;
        }
        
        p{
            font-size: $default-font-size;
        }

    }

    &--icons{
        display: flex;
        @include respond(phone) {
            justify-content: center;
        }
  
        
        &__single{
            width: auto;
            height: 4rem;
            margin: 0 1rem;
            @include respond(phone) {
                margin-top: 2rem;
            }
        }
    }
}

.notify{

    grid-template-rows: 1fr 1fr;

    &--img{
        height: auto;
        width: 100%;

        @include respond(phone) {
            width: auto;
            height: 40rem;
        
        }
    }

    &--text{
        @include respond(phone) {
           grid-row-start: 2;
        
        }
    }

    
}