.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
    justify-items: center;
    


    img{
        width: 30rem;
        height: auto;
    }

    p{
        font-size: $default-font-size;
        //margin: 10rem 0;
        //color: blue;
    }

    &--text{
        max-width: 80%;
        //text-align: center;
    }
}