.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10rem 0;
    justify-items: center;

    &--img{
        width: 30rem;
        height: auto;
    }

    &--text{
        max-width: 80%;
        
        p{
            font-size: $default-font-size;
        }

    }

    &--icons{
        display: flex;
        //background-color: blueviolet;
        
        &__single{
            width: auto;
            height: 4rem;
            margin: 0 1rem;
        }
    }
}

.notify--img{
    height: auto;
    width: 100%;
}