
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) { 
        font-size: 56.25%;
    }

    @include respond(tab-port) { 
        font-size: 45%; 
    }
    
    @include respond(big-desktop) {
        font-size: 75%; 
    }
}

body {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 5rem;
    margin-right: auto;
    margin-left: auto;
    
    @include respond(phone) {
        padding: 0;
    }

    @include respond(tab-port) {
        max-width: 1024px;
        
    }
    
    @include respond(big-desktop) {
        max-width: 1524px;
    }
}

p{
    font-size: $default-font-size;
}
::selection {
    background-color: $color-primary;
    color: $color-white;
}