
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-black;
}

.heading-primary {
    color: $color-black;
    text-transform: uppercase;

    backface-visibility: hidden;

    font-size: 3rem;
    font-weight: 700;
    //letter-spacing: .5rem;
        
    @include respond(phone) {
        letter-spacing: 1rem;
        font-family: 5rem;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
        margin-bottom: 6rem;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: $color-grey-dark;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &--blue{
        color: $color-primary;
        font-size: 2.5rem;
    }

}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 700;
    color: $color-grey-dark;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
}